<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

	<listeners>
            <listener class-name="com.qa.listeners.TestListener" />
        </listeners>


	<test name="Swag Labs Execution">
		<classes>
			<class name="com.qa.test.LoginTest"></class>
			<class name="com.qa.test.ProductAddToCartTest"></class>
		
		</classes>
	</test>
</suite>